<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <img
        src="img/hero1.webp"
        alt="Sajudin"
        class="img-thumbnail rounded-circle"
        style="width: 300px"
      />
      <h1 class="display-4">Sajudin Ma'ruf</h1>
      <p class="lead">Junior Fullstack Dev</p>
    </div>
  </div>
</div>
